<div class="app_store_search">
  <div class="search">
    <input type="search" class="box" value="{{initText}}"/>
    <a href="#" class="button">Search App Store</a>
  </div>
  <ul class="results">
    {{> app_store_search_results}}
  </ul>
</div>
