<div class="facebox">
  <div class="box">
    <div class="content">
      {{#header}}
      <h2>{{header}}</h2>
      {{/header}}
      <div class="body">
        {{{body}}}
      </div>
    </div>
    <a href="#" class="close">x</a>
  </div>
</div>