<div id="icon-compare">
  {{# app_name }}
  <h2>{{ app_name }}</h2>
  {{/ app_name }}
  
  <div class='primary'>
    <div class="dummy">
      
    </div>
    <div class="default">
      
    </div>
  </div>
  <div class='additional'>
    
  </div>
</div>