<div class="theme">
  <div class="info">
    {{name}}
    <a href="/themes/{{id}}" class="show-all-icons">See all icons</a>
    <a href="/themes" class="hide-all-icons" style="display:none">Hide all icons</a>
  </div>
  <div class="icons">
    
  </div>
</div>