.list-app-ac {
  position: absolute;
  background: white;
  padding: 0;
  list-style-type: none; }

.result.selected {
  background: red; }

#facebox_overly {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.3;
  width: 100%;
  height: 100%; }

.facebox {
  position: fixed;
  top: 100px;
  width: 400px; }
  .facebox .box {
    border: 3px transparent solid;
    border-radius: 5px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4); }
  .facebox .content {
    background: white;
    padding: 10px; }
  .facebox .close {
    position: absolute;
    top: 8px;
    right: 8px; }

.list-app-ac .text .search_itunes {
  display: block;
  text-decoration: none; }
