@import url(reset.css);
html {
  overflow-y: scroll; }

.spinner {
  height: 150px;
  background: red; }

#themes {
  width: 510px;
  margin: 0 auto; }

.theme {
  clear: left; }

.icons {
  display: block;
  display: block; }
  .icons:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .icons {
    height: 1px; }
  .icons .icon {
    float: left;
    position: relative; }
    .icons .icon .icon-image img {
      width: 50px;
      height: 50px; }

.icon-image {
  position: relative; }
  .icon-image.show-size:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(/images/icons-size.png); }

.size-iphone1 .icon-image.show-size:after {
  background-position: 0 0; }

.size-ipad1 .icon-image.show-size:after {
  background-position: -25px 0; }

.size-iphone2 .icon-image.show-size:after {
  background-position: 0 -25px; }

#icon-compare {
  position: absolute;
  padding: 5px;
  background: #aaaaaa; }
  #icon-compare .primary {
    display: block; }
    #icon-compare .primary:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #icon-compare .primary {
      height: 1px; }
  #icon-compare .dummy {
    float: left;
    width: 50px;
    height: 50px; }
  #icon-compare .default {
    float: left; }
  #icon-compare img {
    height: 50px;
    width: 50px; }
